[project]
name = "epub2go-py-web"
version = "0.1.0"
description = "Web Interface to epub2go.py"
readme = "README.md"
requires-python = ">=3.12"
dependencies = [
    "epub2go",
]

[tool.uv.sources]
epub2go = { git = "https://github.com/eneller/epub2go.py" }
