{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
    <title>{{ title }}</title>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width,initial-scale=1.0" >
    <link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">
    <link rel="icon" type="image/png" href="{% static '/favicon/favicon-96x96.png' %}" sizes="96x96" />
    <link rel="icon" type="image/svg+xml" href="{% static '/favicon/favicon.svg' %}" />
    <link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}" />
    <link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}" />
    <meta name="apple-mobile-web-app-title" content="epub2go" />
    <link rel="manifest" href="{% static 'site.webmanifest' %}" />
</head>
<body>
    <header>
            <h1><a href="{{ http_host }}">{{ title }}</a></h1>
            <h2>1 Click Download für Literatur</h2>
    </header>
    {% block main %}
    {% endblock %} 
    <footer>
    </footer>
</body>
</html>
<script src="{% static 'script.js' %}"></script> 