{% load static %}
<!DOCTYPE html>
<html lang="de">
<head>
<title>{{ title }}</title>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width,initial-scale=1.0" > 
<link rel="stylesheet" type="text/css" href="{% static 'styles.css' %}">

<link rel="icon" type="image/png" href="{% static '/favicon/favicon-96x96.png' %}" sizes="96x96" />
<link rel="icon" type="image/svg+xml" href="{% static '/favicon/favicon.svg' %}" />
<link rel="shortcut icon" href="{% static '/favicon/favicon.ico' %}" />
<link rel="apple-touch-icon" sizes="180x180" href="{% static '/favicon/apple-touch-icon.png' %}" />
<meta name="apple-mobile-web-app-title" content="epub2go" />
<link rel="manifest" href="{% static 'site.webmanifest' %}" />

</head>
<body>
    <header>
        <div>
            <h1><a href="{{ http_host }}">{{ title }}</a></h1>
            <h2>1 Click Download für Literatur</h2>
        </div>
        <search>
            <form onsubmit="submitSearch(event)" class="searchbar">
            <input type="search" id="searchInput" placeholder="Suche nach Titel" minlength="3">
            </form>
        </search>
        <small>Im Moment finden sich hier <a href="{{ allbooks_url }}">{{ book_count }} Bücher.</a> </small>
            <a href="javascript:void(window.open('{{ http_host }}/?t=' + encodeURIComponent(window.location.toString())))" title="Als Lesezeichen speichern">
                <img src="{% static 'bookmark.svg' %}" alt="Bookmarklet" class="header-icon">
            </a>
            <a href="https://github.com/eneller/epub2go-web">
                <img src="{% static 'github.svg' %}" alt="GitHub" class="header-icon">
            </a>
    </header>
    <main>
        <!-- NOTE use dl here?-->
        <table id="table">
            <thead>
                <tr>
                    <th></th>
                    <th>Titel</th>
                    <th>Autor</th>
                </tr>
            </thead>
            <tbody>
            {% for item in books %} 
                <tr class="table-entry">
                <td>
                    <a href= {{ item.url }} target="_blank" rel="noopener noreferrer" class="table-link">
                        <img src="{% static 'open-link.svg' %}" alt="Open Link" class="inline-icon">
                    </a>
                </td>
                <td class="table-data">
                    <a href="./?t= {{ item.url }}" class="table-link">
                    {{ item.title }}
                    </a>
                </td> 
                <td>
                    <a> {{ item.author }}</a>
                </td>
                </tr>
            {% endfor %} 
            </tbody>
        </table>
    </main>
    <footer>
    </footer>
</body>
</html>
<script src="{% static 'script.js' %}"></script> 