/* this is part of the http://bettermotherfuckingwebsite.com/ */
body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0
    10px}

h1,h2,h3{
    line-height:1.2
}

/* custom styles here */
tr:nth-child(even){
    background-color: #EEEEEE;
}
tr:hover{
    background-color: #DDDDDD;
    transition: all 2ms;
}
.table-icon{
    vertical-align: middle;
    height: 1em;
}
.header-icon{
    vertical-align: middle;
    height: 1em;
}