/* this is part of the http://bettermotherfuckingwebsite.com/ */
body{
    margin:40px auto;
    max-width:650px;
    line-height:1.6;
    font-size:18px;
    color:#444;
    padding:0 10px;
}

h1,h2,h3{
    line-height:1.2
}

/* custom styles here */
:root{
    --white:#faf0e673;
}
body{
    background-color: var(--white);
    font-family: serif;
}
header{
    text-align: center;
    justify-content: center;
}
small{
    color: #777;
}
.searchbar{
    width: fit-content;
}
tr:nth-child(even){
    background-color: #EEEEEE;
}
tr:hover{
    background-color: #DDDDDD;
    transition: all 2ms;
}
.inline-icon, .header-icon{
    vertical-align: middle;
    height: 1em;
}
.header-icon{
    padding: .5em;
}
a:hover, a:any-link{
    text-decoration: none;
    color: inherit;
}
.table-link{
    display: block;
    width: 100%;
    height: 100%;
    padding: 3px;
}